@font-face {
  font-family: 'digital';
  src: url(../fonts/DS-DIGIB.TTF);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'keyboard';
  src: url(../fonts/pocket_calcuatlor_tt.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.calculator-wrapper {
  display: flex;
}

.calculator {
  background: #59627f;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  gap: 8px;
}

.brand {
  color: white;
  font-family: 'digital';
  padding: 0;
  margin: 0;
}
.display {
  font-family: 'digital';
  background: url(../img/pantalla.png);
  background-size: cover;
  color: black;
  width: 100%;
  padding: 10px;
  border: solid black 1px;
}
.display p {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

.keyboard {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto auto auto;
}

.number {
  background: #8a92a6;
  color: white;
  border: none;
  font-size: 25px;
  font-family: 'keyboard';
  border-radius: 4px;
}

.number:hover {
  background: green;
  transform: scale(1.2);
}

.number:active {
  background: red;
  transform: scale(0.9);
}

.operator {
  background: #b37f9f;
  color: white;
  border: none;
  font-size: 20px;
  font-family: keyboard;
  border-radius: 4px;
}

.operator:hover {
  background: #7f80b3;
  transform: scale(1.2);
}

.operator:active {
  background: red;
  transform: scale(0.9);
}

